.searchBox {
  background-color: rgb(77, 72, 87);
  width: 250px;
  height: 30px;
  padding: 6px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #6054546b;
}
.searchInput {
  border: none;
  background-color: rgba(0, 255, 255, 0);
  flex: 1;
  outline: none;
}

.searchIconButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
