.movie_display_image {
  width: 27%;
  height: 27%;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.movie_box_container {
  background-color: rgba(78, 78, 83, 0.559);
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: rgba(209, 207, 207, 0.362) 0px 3px 8px;
  max-width: 800px;
}
.tab {
  cursor: pointer;
  transition: color 250ms;
  padding: 1rem;
  border-right: solid 2px gray;
  background-color: rgb(66, 62, 62);
  text-align: center;
  transition: all 250ms;
}
.active_tab {
  background-color: rgba(78, 78, 83, 0);
}
.actor-container {
  text-align: center;
}

.actor-image {
  width: 120px;
  border-radius: 10px;
}

.movie_details {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
