@import url(https://fonts.bunny.net/css?family=abel:400);
@layer base, demo;

.movie_list_header {
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 6px;
}

.movie_list_heading {
  font-size: 26px;
  color: #ffe400;
}

.movie_filter {
  list-style: none;
  font-size: 16px;
}

.movie_filter_item {
  padding: 5px 10px;
  cursor: pointer;
}


.movie_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 10px;
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie_description {
  font-size: 12px;
  font-style: italic;
}

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

@layer demo {
  .carousel {
    --carousel-duration: 60s;
    @media (width > 600px) {
      --carousel-duration: 60s;
    }
    --carousel-width: min(
      100%
    );
    --carousel-item-width: 190px;
    --carousel-item-height: 320px;
    --carousel-item-gap: 2rem;

    position: relative;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    overflow: clip;

    &[mask] {
 
      mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
      );
    }

    &[reverse] > article {
      animation-direction: reverse;
    }
 
    &:hover > article {
      animation-play-state: paused;
    }
  }
  .carousel > article {
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    display: grid;
    grid-template-rows: 200px auto 1fr auto;
    gap: 0.25rem;

    padding-block-end: 1rem;
    border-radius: 10px;
    color: light-dark(rgb(49, 65, 88), white);


    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(
      var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
    );
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px 10px 0 0;
  }
  .carousel > article > *:not(img) {
    padding: 0 1rem;
  }
  .carousel > article > div {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    font-size: 0.8rem;
  }
  .carousel > article h2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: 0.75rem 0.25rem;
    margin: 0;
  }
  .carousel > article p {
    margin: 0;
  }
  .carousel > article a {
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid var(--clr-cta);
    color: light-dark(var(--clr-cta), white);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    place-self: start;
    transition: 150ms ease-in-out;
    &:hover,
    &:focus-visible {
      background-color: var(--clr-cta);
      color: white;
      outline: none;
    }
  }

  @keyframes marquee {
    100% {
      transform: translateX(
        calc(
          (
              var(--items) *
                (var(--carousel-item-width) + var(--carousel-item-gap))
            ) * -1
        )
      );
    }
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }
  :root {
    color-scheme: light dark;

    --bg-dark: rgb(2, 6, 24);
    --bg-light: rgb(229, 229, 229);
    --txt-light: rgb(10, 10, 10);
    --txt-dark: rgb(245, 245, 245);
  }
}
.carousel_container {
  padding: 0.5rem;
}
